div {
    display: inline-block;
    width: 50%;
    height: 50%;
    margin: 20px auto;
    vertical-align: top;
    border-bottom: 1px dotted #8d6b52;
}

div > * {
    margin-top: 20px;
    height: 30px;
}

div > h5 {
    color: #8d6b52;
}

div > p {
    width: 80%;
    height: 200px;
    overflow-y: auto;
    margin: auto;
}